.container{
    text-align: center;
    margin-top: 100px;
}

.Popular{
    color: #0068E1;
}

.super{
    margin-top: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding-top: 40px;
margin-bottom: 100px;
    background-color: #ebebeb;
}
