*{
    margin: 0%;
    padding: 0%;
}

.navbar{
    background-color: transparent;
    width: 100% ;
    position: fixed;
    height: 100vh;
    display: flex;
    cursor: pointer;
    height: 6%;
    background-color: rgb(4, 1, 27);
    justify-content: space-between;
    /* box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.781); */
    
}
.logo{
    height: 100%;
}
.tag{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: larger;
     font-family:'Times New Roman', Times, serif;
     padding-top:0.4%;
}


.icons{
    flex-wrap: wrap;
    color: rgb(17, 120, 223);
    display: flex;
     padding-top:0.6%;
     gap:10px;
     margin-right: 5px;
}

/* .tag :hover{
    border: 1px solid black;
    padding: 1px;
    border-radius: 5px ;


} */
.icon{
    width: 20%;
    height: 20%;
}
