.main{
     background-color: rgb(4, 1, 27); 
    display: flex;
    flex-wrap: wrap;
    padding-top: 10%;
    justify-content: space-evenly ;

}
.max{
    color: white;
    background-color: rgb(4, 1, 27); 

}

.img{
    width: 30%;
}
.container{
    color: white;
    text-align: center;
}

.award{
    background-color: rgb(4, 1, 27); 


}

.happy{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    text-align: center;
    /* padding: 30px; */
    padding-left: 60px;
    margin-top: 5%;
    padding-right: 60px;
    padding-bottom: 1%;
    padding-top: 1%;
}
.icon{

margin: auto;
font-size: 4rem;
    color: rgb(0, 89, 255);
}
.mix{
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}