.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 500px;
}

.Features{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content{
    display: flex;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.Installed{
    color: #0063F7;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inputbox{
margin-top: 20px;
width: 100%;
    border-radius: 30px;
}