.video-tile{
    width:250px;
    height: 200px;
    border:1px solid lightgray;
    position: relative;
}

.video-tile h4{
    width:100%;
    position: absolute;
    bottom:0;
    background-color: rgb(244, 244, 244);
}

.video-tile img{
    width:100%;
}
 